[Desktop Entry]
Type=Application
Name=Hearthstone Deck Tracker (Unofficial)
GenericName=Hearthstone Deck Tracker
Comment=Hearthstone companion
Exec=HearthstoneDeckTracker.sh
Categories=Game;
Icon=com.blizzard.Battlenet.HearthstoneDeckTracker
Keywords=HS Replay;Hearthstone Deck Tracker;Microsoft;Activision;Blizzard;Battlenet;Battle net;Battle.net;Hearthstone;